@import "base.css";

.main_contents {
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* ------------ */
/* 왼쪽 section */

#main_section_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.recipe_view_all a,
.recipe_view_jang a {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 2rem;
  font-size: var(--main-font-size);
}

.recipe_view_all img,
.recipe_view_jang img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  filter: drop-shadow(var(--main-text-shadow));
}

.recipe_view_all span,
.recipe_view_jang span {
  margin-bottom: 1rem;
  text-shadow: var(--main-text-shadow);
}

/* -------------- */
/* 가운데 section */

#main_section_2 {
  text-align: center;
}

.main_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#main_explain {
  background-color: #daacaf;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  color: white;
  font-family: var(--sub-font);
}

#main-add img {
  height: 6rem;
  filter: drop-shadow(var(--main-text-shadow));
}

#main-add {
  border: 0;
  background-color: transparent;
}

#main_add span {
  color: var(--ingredient-color);
  font-size: 1rem;
  font-family: var(--sub-font);
}

#main_section_2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-btn-container {
  width: 33rem;
  margin-bottom: 1rem;
  display: grid;
  text-align: center;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 0.5rem;
}

#main-btn-container input {
  background: url("../image/재료판자.png");
  border: 0;
  width: 10rem;
  height: 3rem;
  box-shadow: var(--main-box-shadow);
}

#main-btn-container input:-webkit-autofill,
#main-btn-container input:-webkit-autofill:hover,
#main-btn-container input:-webkit-autofill:focus,
#main-btn-container input:-webkit-autofill:active {
  background-image: url("../image/재료판자.png");
  border: 0;
  outline: none;
  -webkit-text-fill-color: var(--ingredient-color);
  filter: drop-shadow(var(--main-text-shadow));
}

#main-btn-container input,
#main-btn-container input::placeholder,
#main-btn-container input:focus,
#main-btn-container input:focus::placeholder {
  color: white;
  font-family: var(--ingredient-font);
  font-size: var(--main-font-size);
  text-align: center;
  border: 0;
  outline: none;
  filter: drop-shadow(var(--main-text-shadow));
}

.ingredient_error {
  font-family: var(--sub-font);
  color: var(--main-color-2);
  font-size: 1.5rem;
  border: 0.5rem;
}

#recipe_search {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#recipe_search input {
  width: 30rem;
  filter: drop-shadow(var(--main-box-shadow));
}

@keyframes search-ani-hover {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -0.5rem);
  }
}

@keyframes search-ani-back {
  0% {
    transform: translate(0, -0.5rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

#recipe_search:hover,
.recipe_view_all:hover,
.recipe_view_jang:hover {
  animation: search-ani-hover 0.5s;
  animation-fill-mode: forwards;
}

#recipe_search:not(:hover),
.recipe_view_all:not(:hover),
.recipe_view_jang:not(:hover) {
  animation: search-ani-back 0.5s;
  animation-fill-mode: forwards;
}

/* -------------- */
/* 오른쪽 section */

#main_section_3 {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

#main_create_btn {
  background: url("../image/재료판자_2.png");
  padding: 1.5rem 1rem;
  box-shadow: var(--main-box-shadow);
  font-size: var(--main-font-size);
  position: relative;
  cursor: pointer;
}

#main_create_btn a {
  color: white;
  filter: drop-shadow(var(--main-text-shadow));
}

.check_img {
  width: 12rem;
  height: auto;
  position: absolute;
  top: -3rem;
  left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s linear;
}

#main_create_btn:hover .check_img {
  opacity: 1;
}

/* ------------ */
/* 가이드 페이지 */

#main_guide {
  position: relative;
  top: 10rem;
  left: 1rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question_mark {
  width: 2rem;
  height: 2rem;
  float: right;
  padding-left: 0.5rem;
}

#main_guide a {
  color: rgb(86, 84, 80);
  margin-bottom: 80px;
}

@keyframes guide-ani-hover {
  0% {
    transform: translate(0, 0);
    text-shadow: none;
  }
  100% {
    transform: translate(0, -0.5rem);
    text-shadow: var(--main-text-shadow);
  }
}

@keyframes guide-ani-back {
  0% {
    transform: translate(0, -0.5rem);
    text-shadow: var(--main-text-shadow);
  }
  100% {
    transform: translate(0, 0);
    text-shadow: none;
  }
}

#main_guide a:hover {
  animation: guide-ani-hover 0.5s;
  animation-fill-mode: forwards;
}

#main_guide a:not(:hover) {
  animation: guide-ani-back 0.5s;
  animation-fill-mode: forwards;
}

.guide_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(250, 232, 213, 0.537);
}

#guide_section_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 2rem 0;
}

.guide_jang_img {
  width: 15rem;
  height: 9rem;
  filter: drop-shadow(var(--header-logo-shadow));
}

#guide_section_2 {
  background-color: rgba(247, 211, 161, 0.525);
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

#guide_section_2 a {
  margin-top: 0;
}

.guide_recipe {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.recipe_view_all.guide_recipe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.recipe_view_jang.guide_recipe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.arrow_line {
  width: 90%;
  max-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_line img {
  max-width: 5rem;
  position: absolute;
  filter: drop-shadow(1rem 1rem 0.2rem #4d4a4a);
}

.recipe_view_jang.guide_recipe {
  margin-right: 4rem;
}

#guide_section_3 {
  background-color: rgba(250, 232, 213, 0.537);
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#recipe_search_capture {
  width: 100rem;
  box-shadow: 0.1rem 0.6rem 1.5rem;
}

.recipe_search_guide img {
  box-shadow: 0.1rem 0.6rem 1.5rem;
}

.recipe_search_guide_text {
  margin-top: 2rem;
}

#guide_section_4 {
  background-color: rgba(247, 211, 161, 0.525);
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  flex-direction: row;
}

#store_capture,
#community_capture {
  width: 30rem;
  margin: 2rem 0;
  box-shadow: 0.1rem 0.6rem 1.5rem;
}

.guide_section_4_2 {
  display: flex;
  flex-direction: column;
}

#guide_section_5 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20rem;
}

#guide_section_1:hover,
.recipe_view_all.guide_recipe:hover,
.recipe_view_jang.guide_recipe:hover,
#recipe_search_capture:hover,
.recipe_search_guide img:hover,
#guide_section_4 img:hover,
#guide_section_5:hover {
  animation: search-ani-hover 0.5s;
  animation-fill-mode: forwards;
}

#guide_section_1:not(:hover),
.recipe_view_all.guide_recipe:not(:hover),
.recipe_view_jang.guide_recipe:not(:hover),
#recipe_search_capture:not(:hover),
.recipe_search_guide img:not(:hover),
#guide_section_4 img:not(:hover),
#guide_section_5:not(:hover) {
  animation: search-ani-back 0.5s;
  animation-fill-mode: forwards;
}

.guide_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(250, 232, 213, 0.537);
}

#guide_section_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 2rem 0;
  font-size: smaller;
}

#guide_section_1 img {
  width: 15rem;
  height: 9rem;
  filter: drop-shadow(var(--header-logo-shadow));
}

#guide_section_3.arrow_line {
  max-width: 5rem;
}

#recipe_search_capture,
#recipe_list_capture {
  width: 25rem;
}

#section3_arrow {
  position: absolute;
  display: flex;
}

#section3_arrow img {
  max-width: 5rem;
}

.recipe_search_guide {
  float: left;
}

.hidden_arrow {
  rotate: 90deg;
  display: none;
}

/* ---------- */
/* 반응형 구현 */

@media (max-width: 1200px) {

  /* 메인 페이지 */
  .main_contents {
    flex-direction: column;
    margin: 0;
  }
  #main_section_1 {
    margin: 2rem 0.5rem 4rem 0.5rem;
  }
  #main_section_3 {
    margin: 4rem 0.5rem;
    display: flex;
    justify-content: space-between;
    height: 10rem;
  }
  .recipe_view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recipe_view_all a,
  .recipe_view_jang a {
    font-size: 2rem;
  }
  .recipe_view_all img,
  .recipe_view_jang img {
    width: 6rem;
    height: 6rem;
  }
  #main-btn-container {
    width: 42rem;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 0.5rem;
  }
  #main-btn-container input {
    width: 13rem;
    height: 4rem;
  }
  #recipe_search input {
    width: 30rem;
  }
  #main_guide {
    position: inherit;
    top: 2rem;
    left: 0rem;
    margin-top: 35px;
  }

  /* 가이드 페이지 */
  #guide_section_1,
  #guide_section_2,
  #guide_section_3,
  #guide_section_4,
  #guide_section_5 {
    font-size: 1.7rem;
  }
  .guide_recipe span {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {

  /* 가이드 페이지 */
  .hidden_arrow {
    display: block;
  }
  #all_arrow,
  #jang_arrow,
  #search_arrow {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
  }
  .arrow_line,
  #section3_arrow {
    display: none;
  }
  .guide_recipe {
    display: flex;
    flex-direction: column;
  }
  .recipe_view_jang.guide_recipe {
    margin-right: 0;
  }
  #guide_section_3 {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #recipe_search_capture,
  #recipe_list_capture,
  #store_capture,
  #community_capture {
    width: 33rem;
  }
  #guide_section_4 {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 700px) {

  /* 메인 페이지 */
  #main-btn-container {
    width: 36rem;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 0.5rem;
  }
  #main-btn-container input {
    width: 11rem;
    height: 4rem;
  }
  #recipe_search input {
    width: 30rem;
  }
}

@media (max-width: 600px) {

  /* 메인 페이지 */
  #main_section_1 {
    margin: 2rem 0.5rem 2.5rem 0.5rem;
  }
  #main_section_3 {
    margin: 2.5rem 0.5rem;
  }
  .recipe_view_all a,
  .recipe_view_jang a {
    margin-top: 1.5rem;
    font-size: var(--main-font-size);
  }
  #main_create_btn {
    margin-top: 1.5rem;
  }
  .recipe_view_all img,
  .recipe_view_jang img {
    width: 5rem;
    height: 5rem;
  }
  .recipe_view_all span,
  .recipe_view_jang span {
    margin-bottom: 0.65rem;
  }
  .main_top {
    flex-direction: column;
  }
  #main_explain {
    margin-right: 0;
  }
  #main-add {
    margin-top: 1rem;
  }
  #main-btn-container {
    width: 26rem;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0.5rem;
  }
  #main-btn-container input {
    width: 12rem;
    height: 5rem;
  }
  #main-btn-container input,
  #main-btn-container input::placeholder,
  #main-btn-container input:focus,
  #main-btn-container input:focus::placeholder {
    font-size: 2rem;
  }
  #recipe_search input {
    width: 26rem;
  }

  /* 가이드 페이지 */
  #guide_section_1,
  .guide_recipe_text,
  .recipe_search_guide_text,
  .guide_section_4_2,
  #guide_section_5 {
    font-size: 1.6rem;
  }
  #recipe_search_capture,
  #recipe_list_capture,
  #store_capture,
  #community_capture {
    width: 27rem;
  }
}

@media (max-width: 450px) {

  /* 메인 페이지 */
  .recipe_view_all a,
  .recipe_view_jang a {
    font-size: 1.4rem;
    margin-top: 1.3rem;
  }
  #main_create_btn {
    margin-top: 1.3rem;
  }
  .recipe_view_all img,
  .recipe_view_jang img {
    width: 4rem;
    height: 4rem;
  }
  .recipe_view_all span,
  .recipe_view_jang span {
    margin-bottom: 0.3rem;
  }
  #main-btn-container {
    width: 20rem;
  }
  #main-btn-container input {
    width: 8rem;
    height: 3rem;
  }
  #main_explain {
    height: auto;
    font-size: 0.85rem;
    padding: 0.8rem;
  }
  #main-btn-container {
    width: 20rem;
  }
  #main-btn-container input {
    width: 9rem;
    height: 4rem;
  }
  #main-btn-container input,
  #main-btn-container input::placeholder,
  #main-btn-container input:focus,
  #main-btn-container input:focus::placeholder {
    font-size: var(--main-font-size);
  }
  #recipe_search input {
    width: 20rem;
    filter: drop-shadow(var(--main-box-shadow));
  }

  /* 가이드 페이지 */
  #guide_section_1,
  .guide_recipe_text,
  .recipe_search_guide_text,
  .guide_section_4_2,
  #guide_section_5 {
    font-size: 1.4rem;
  }
  #all_arrow,
  #jang_arrow {
    width: 3rem;
    height: 3rem;
    margin: 0.6rem;
  }
  #recipe_search_capture,
  #recipe_list_capture,
  #store_capture,
  #community_capture {
    width: 22rem;
  }
}

@media (max-width: 270px) {

  /* 메인 페이지 */
  .recipe_view_all a,
  .recipe_view_jang a {
    flex-direction: column;
    align-items: center;
  }
  .recipe_view_all img,
  .recipe_view_jang img {
    margin: 0 0 0.5rem 0;
  }
}